<ejs-diagram #diagram id="diagram" width="100%" height="850px" [nodes]="nodes" [connectors]="connectors">
</ejs-diagram>
<br>
<div class="form-group">
  <div class="row justified">
    <div class="col-md-6">
      <h1><span class="badge badge-pill badge-primary">Nodes</span></h1>
      <textarea [(ngModel)]="outcomeNodes" rows="30" cols="60"></textarea>
    </div>
    <div class="col-md-6">
      <h1><span class="badge badge-pill badge-success">Edges/Connectors</span></h1>
      <textarea [(ngModel)]="outcomeEdges" rows="30" cols="60"></textarea>
    </div>
  </div>
  <span>
  </span>
  <span>

  </span>
</div>


